.header {
    background-color: #0d6efd; /* azul principal */
    color: white;
  }
  
  .title {
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
  }
  
  .logoutButton {
    border-color: #ffffffcc;
    color: #ffffff;
    background-color: #ff0000;
    font-weight: 500;
  }
  
  .logoutButton:hover {
    background-color: #ffffff;
    color: #ff0000;
  }
  